<div class="col-lg-4   containerCompact">
 <h3 class="centered">New User</h3>
  <label><b>Login</b></label>
  <!--
  <input type="text"  name="login" [ngModel]="login" required>
  <label><b>Password</b></label>
  <input type="text" name="password" [ngModel]="password" required>
  <label><b>Personal Data</b></label>
  <input type="text"  name="personalData" [ngModel]="personalData" required>
  <label><b>Use Role</b></label>
  <select>
    <option>Project manager</option>
    <option>Developer</option>
    <option>Tester</option>
  </select>
  <button (click)="onCreateUserClick(login, password,personalData)" class="righted">Create</button>
-->
</div>
