<div class="col-lg-4   containerCompact">
 <h3 class="centered">New User</h3>
  <label><b>Login</b></label>

  <input type="text" [(ngModel)]="user.login">
  <label><b>Password</b></label>
  <input type="text" name="passwordUser" [(ngModel)]="user.password" required>
  <label><b>Personal Data</b></label>
  <input type="text"  name="personalDataUser" [(ngModel)]="user.personalData" required>
  <label><b>Role</b></label>
  <select class="form-control" name="idRole" [(ngModel)]="fRole">
    <option  *ngFor="let comp of rolesName" [value]="comp">
      {{comp}}
    </option>
  </select>

  <button (click)="onCreateUserClick()" class="righted">Create</button>
</div>
