<div class="container">
  <h4>Descriptions</h4>
  <div class="centered">
    <button type="submit" class="" [disabled]="!(task.idStatus.name === 'open')" (click)="updateTaskStatus('in progress')">Start</button>
    <button type="submit" class="" [disabled]="!(task.idStatus.name === 'in progress')" (click)="updateTaskStatus('resolved')">Resolve</button>
    <button type="submit" class="" [disabled]="!(task.idStatus.name === 'resolved')" (click)="updateTaskStatus('ready for test')">Ready for Test</button>

    <button type="submit" class="" [disabled]="!(task.idStatus.name === 'ready for test')" (click)="updateTaskStatus('closed')">Close</button>
  </div>
</div>

<div class="container">
  <h4>Details:</h4>
  <div class="row">
    <div class="col-md-1">
      <label>Priority: </label>
    </div>
    <div class="col-md-5">
      <label>{{task.idPriority.name}} </label>
    </div>
    <div class="col-md-1">
    <label>Assignee: </label>
  </div>
    <div class="col-md-5">
      <label>{{task.assignee.login}} </label>
    </div>
  </div>

  <div class="row">
  <div class="col-md-1">
    <label>Status: </label>
  </div>
  <div class="col-md-5">
    <label>{{task.idStatus.name}} </label>
  </div>
  <div class="col-md-1">
    <label>Reporter: </label>
  </div>
  <div class="col-md-5">
    <label>{{task.reporter.login}} </label>
  </div>
</div>

  <div class="row">
    <div class="col-md-1 offset-md-6">
      <label>Estimation: </label>
    </div>
    <div class="col-md-5">
      <label>{{task.estimation}} </label>
    </div>
  </div>
</div>

<div class="container">
  <h4>Descriptions:</h4>
  <div class="row">
    <div class="col-md-1 offset-md-6">
      <label>Created: </label>
    </div>
    <div class="col-md-5">
      <label>{{task.createDate}} </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 offset-md-6">
      <label>Updated: </label>
    </div>
    <div class="col-md-5">
      <label>{{task.updatedDate}} </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 offset-md-6">
      <label>Resolved: </label>
    </div>
    <div class="col-md-5">
      <label>{{task.resolvedDate}} </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 offset-md-6">
      <label>Closed: </label>
    </div>
    <div class="col-md-5">
      <label>{{task.closedDate}} </label>
    </div>
  </div>
</div>




<div class="container">

  <div class="row">
    <div class="offset-md-8">
      <button type="submit" class="" (click)="BackClick()">Back</button>
    </div>
  </div>
</div>
