<div class="col-lg-4   containerCompact">
  <h3 class="centered">New Task</h3>
  <label><b>Code</b></label>
  <input type="text" placeholder="" name="code" required>
  <label><b>Description</b></label>
  <input type="text" placeholder="" name="description" required>
  <label><b>Priority</b></label>
  <input type="text" placeholder="" name="priority" required>
  <label><b>Due Date</b></label>
  <input type="text" placeholder="" name="duedate" required>
  <label><b>Estimation</b></label>
  <input type="text" placeholder="" name="estimation" required>
  <label><b>Assignee</b></label>
  <input type="text" placeholder="" name="assignee" required>
  <button type="submit" class="righted">Create</button>
</div>
