<div class="col-lg-4   containerCompact">
  <h3 class="centered">New Task</h3>
  <label><b>Project Code</b></label>

  <label><b>Task Code</b></label>
  <input type="text" placeholder=""   [(ngModel)]="projectId">
  <label><b>Description</b></label>
  <input type="text" placeholder=""   [(ngModel)]="task.description">
  <label><b>Priority</b></label>
  <select class="form-control"  [(ngModel)]="prioritySelect">
    <option  *ngFor="let comp of priorityName" [value]="comp">
      {{comp}}
    </option>
  </select>
  <label><b>Due Date</b></label>
  <input type="date" placeholder=""  [(ngModel)]="task.dueDate">
  <label><b>Estimation</b></label>
  <input type="text" placeholder=""   [(ngModel)]="task.estimation">
  <label><b>Assignee</b></label>
  <input type="text" [(ngModel)]="assigneeLogin"  >
  <button (click)="onCreateTaskClick()" class="righted">Create</button>
</div>
