
<div class="container">
  <div class="col-lg-6">
    <button class="" (click)="ProjectVisible()">New Project</button>
    <button class="" (click)="TaskVisible()">New Task</button>
    <button class="" (click)="UserVisible()">New User</button>

  </div>
 <div class="col-lg-6">
  <input type="filters" placeholder="Filters" name="filt" required>
 </div>
</div>

 <div class="container">
<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>Code</th>
    <th>Task</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Due Date</th>
    <th>Estimation</th>
    <th>Assignee</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody id="Table">
  <tr *ngFor="let task of tasks">
    <td>{{task.idProject}}</td>
    <td>{{task.idTask}}</td>
    <td>{{task.idPriority}}</td>
    <td>{{task.idStatus}}</td>
    <td>{{task.createDate}}</td>
    <td>{{task.updatedDate}}</td>
    <td>{{task.dueDate}}</td>
    <td>{{task.estimation}}</td>
    <td>{{task.assignee}}</td>
    <td>{{task.description}}</td>
    <td>
      <button style="align-content: center" class="btn btn-success" (click)="EditClick(task)">Edit</button>
    </td>
  </tr>
  <tr>

  </tr>
  <tr>
  </tr>
  </tbody>
</table>
   <nav aria-label="...">
     <ul class="pagination pagination-lg align-content-end">
       <li class="page-item active" aria-current="page">
      <span class="page-link">
        1
        <span class="sr-only">(current)</span>
      </span>
       </li>
       <li class="page-item"><a class="page-link" href="#">2</a></li>
       <li class="page-item"><a class="page-link" href="#">3</a></li>
     </ul>
   </nav>
 </div>
<app-overlay [isVisible]="isCreateTaskVisible || isCreateUserVisible|| isCreateProjectVisible" (onChanged)="onChanged($event)"></app-overlay>

<app-create-user *ngIf="isCreateUserVisible" (onCreateUser)="UserVisible()"></app-create-user>
<app-create-task *ngIf="isCreateTaskVisible" (onCreateTask)="TaskVisible()"></app-create-task>
<app-create-project *ngIf="isCreateProjectVisible" (onCreateProject)="ProjectVisible()" ></app-create-project>



